<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/header') %>

  <div class="container mt-5">
    <h1>Détails de la passerelle</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Numéro de la passerelle: <%= catway.catwayNumber %></h5>
        <p class="card-text">Type: <%= catway.type %></p>
        <p class="card-text">Etat: <%= catway.catwayState %></p>
        <a href="/catways" class="btn btn-primary">Retour aux passerelles</a>
      </div>
    </div>
  </div>
</body>
</html>
