<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/header') %>

  <div class="container mt-5">
    <h1>Passerelles</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Numéro de la passerelle</th>
          <th>Type</th>
          <th>Etat</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% catways.forEach(catway => { %>
          <tr>
            <td><%= catway.catwayNumber %></td>
            <td><%= catway.type %></td>
            <td><%= catway.catwayState %></td>
            <td>
              <a href="/catways/<%= catway._id %>" class="btn btn-info">Voir</a>
              <form action="/catways/<%= catway._id %>?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger">Supprimer</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>
</html>
